%header
  .wrapper
    %img.logo{:src => "images/vetmed_logo.png"}
    %nav{:role => "navigation"}
      %ul.navigation
        %li.nav-item
          %a{:href => "#"}
            USŁUGI
        %li.nav-item
          %a{:href => "#"}
            LEKARZE
        %li.nav-item
          %a{:href => "#"}
            KONTAKT
%section.banner
  .wrapper
    %h1.banner-title
      Pierwsza prywatna
      %br
      %span.big-text przychodnia weterynaryjna w Tychach.
    %h1.banner-title Lekarze z ponad 25 letnim doświadczeniem.
    %h1.banner-title
      Usługi w zakresie lecznictwa i profilaktyki
      %br
      chorób małych zwierząt.
%section.wrapper
  %h1 Oferowane usługi
  %ul.offer
    - data.all.offer.each do |offer|
      %li.offer-item
        %h2= offer.section
        %ul
          - offer.items.each do |item|
            %li.service-item= item
%section.quote-wrapper
  .quote
    .quote-decor ”
    %p.quote-content
      „Ekstra sprawa, świetne słuchawki, pieskowi odrosła łapa. Ma teraz pięć! Pozdrawiam.”
    %p.quote-author - Małgorzata Belzebub
%section.wrapper
  %h1 Nasi lekarze
  %ul.vets
    - data.all.vets.each do |vet|
      %li.vet
        .vet-photo-holder
          %img.vet-photo{:src => "images/#{vet.id}.jpg"}
        %h2= vet.name
        %p.vet-description= vet.description
%section.quote-wrapper
  .quote
    %p.quote-content
      Coś tutaj
%section.wrapper
  %h1 Kontakt
  .contact
    .contact-section
      %h2 Vet-Med przychodnia weterynaryjna
      %p
        ul. Dębowa 6a
        %br
        43-100 Tychy
      %p
        telefon: (32) 227 31 12
      %p
        email: vet.med.tychy@gmail.com
    .contact-section
      %h2 Godziny otwarcia
      %p
        poniedziałek - piątek: 8:00 - 20:00
        %br
        sobota: 8:00 - 12:00
        %br
        niedziela: 9:00 - 12:00
  .map
    %img.google-map{:src => lorem.image('500x500')}
