%header
  .wrapper
    %img.logo{:src => "images/vetmed_logo.png"}
    %nav{:role => "navigation"}
      %ul.navigation
        %li.nav-item
          %a{:href => "#"}
            USŁUGI
        %li.nav-item
          %a{:href => "#"}
            LEKARZE
        %li.nav-item
          %a{:href => "#"}
            KONTAKT
%section.banner
  .wrapper
    %h1.banner-title
      Pierwsza prywatna
      %br
      %span.big-text przychodnia weterynaryjna w Tychach.
    %h1.banner-title Lekarze z ponad 25 letnim doświadczeniem.
    %h1.banner-title
      Usługi w zakresie lecznictwa i profilaktyki
      %br
      chorób małych zwierząt.
%section.wrapper
  %h1 Oferowane usługi
  %ul.offer
    - data.all.offer.each do |offer|
      %li.offer-item
        %h2= offer.section
        %ul
          - offer.items.each do |item|
            %li.service-item= item
%section.quote-wrapper
  .quote
    .quote-decor ”
    - quote = data.quotes.sample
    %p.quote-content= quote.content
    %p.quote-author - #{quote.author}
%section.wrapper
  %h1 Nasi lekarze
  %ul.vets
    - data.all.vets.each do |vet|
      %li.vet
        .vet-photo-holder
          %img.vet-photo{:src => "images/#{vet.id}.jpg"}
        %h2= vet.name
        %p.vet-description= vet.description
%section.quote-wrapper
  .quote
    .quote-decor ”
    - quote = data.quotes.sample
    %p.quote-content= quote.content
    %p.quote-author - #{quote.author}
%section.wrapper
  %h1 Kontakt
  .contact
    .contact-section
      - contact = data.all.contact
      %h2= contact.name
      %p= contact.address
      %p telefon: #{contact.phone}
    .contact-section
      %h2 Godziny otwarcia
      - data.all.opening_hours.each do |open|
        %p #{open.days}: #{open.hours}
  .map
    %img.google-map{:src => lorem.image('500x500')}
